<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721809898610-h33m4p7v937eflki09na2qevmpnn9fm8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721809898610-h33m4p7v937eflki09na2qevmpnn9fm8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>721809898610-f3kum6t12af89rpard9f0h33k8bgf4g8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOIZLWY2wtwV69tQfaGLcaelOL7N2UjS4</string>
	<key>GCM_SENDER_ID</key>
	<string>721809898610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forefun</string>
	<key>PROJECT_ID</key>
	<string>forefun-12cf8</string>
	<key>STORAGE_BUCKET</key>
	<string>forefun-12cf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721809898610:ios:a617379b1fc68d494c56eb</string>
	<key>DATABASE_URL</key>
	<string>https://forefun-12cf8.firebaseio.com</string>
</dict>
</plist>